.hero {
  height: 1080px;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    height: 700px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparentize($black, 0.5);
    z-index: 0;
  }

  &__container {
    width: 100%;
    max-width: 580px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}